{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "java"],
      "plugins": ["line-numbers"], // "show-invisibles" add to show line breaks and spaces
      "theme": "default",
      "css": true
    }],
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-transform-object-rest-spread"
  ]
}